<div class="orders-container">
  @if (isLoading()) {
  <div class="loading-shade">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  } @else {
  @if (orders().length > 0) {
    <mat-list class="orders-list">
      @for (order of orders(); track order.merchantOrderId) {
        <mat-list-item class="order-item">
          <div matLine class="order-header">
            <span class="order-label">Total</span>
          <span class="order-total">
            <span class="order-total__amount">{{ order.totalPrice | number:'1.2-2' }}</span>
            <span class="order-total__currency">{{ order.currencyCode }}</span>
          </span>
            <mat-chip-set class="status-chip-set">
              <mat-chip [class]="'status-chip ' + order.status.toLowerCase()">
              {{ order.status | uppercase }}
              </mat-chip>
            </mat-chip-set>
            <button mat-button type="button" (click)="onOrderSelected(order)">Ver orden</button>
          </div>

          <div matLine class="order-details">
            <span class="detail-label">Payment</span>
            <span class="payment-status" [class.payment-status--paid]="order.paid" [class.payment-status--unpaid]="!order.paid">
              {{ order.paid ? 'Paid' : 'Not Paid' }}
            </span>
          </div>

          <div matLine class="order-date">{{ order.createdAt | date:'medium' }}</div>
        </mat-list-item>
      }
    </mat-list>
  } @else {
    <div class="empty-state">
      No orders found.
    </div>
  }

  <mat-paginator [length]="totalElements()" [pageSize]="pageSize()" [pageIndex]="currentPage()"
    [pageSizeOptions]="[5, 10, 20, 50]" (page)="handlePageEvent($event)" showFirstLastButtons
    aria-label="Select page of orders">
  </mat-paginator>
  }
</div>