@if (providerData$ | async; as provider) {
  <h3>Provider Details</h3>
  <form #productForm="ngForm" (ngSubmit)="saveChanges(provider)">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput name="name" [(ngModel)]="provider.name" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput name="description" [(ngModel)]="provider.email"></textarea>
    </mat-form-field>
    <img [src]="provider.profileImageUrl" width="150px" height="100px" />
    <div class="file-upload-container">
      <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput>
      <!--<button mat-stroked-button color="accent" type="button" (click)="fileInput.click()">
      Choose Image File
    </button>-->
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">
    Save Changes
  </button>
</form>
}
<h3>Products</h3>
<button type="button" (click)="addProduct()">Add Product</button>
<ul class="product-list">
  @for (product of productsList(); track product.id) {
    <li class="product-item">
      <img [src]="product.productImageUrl" alt="Product Image A" class="product-image">
      <div class="product-details">
        <h3 class="product-name">{{product.name}}</h3>
        <p class="product-description"> {{product.description}} </p>
        <p class="product-description"> ${{product.price}} </p>
      </div>
      <div>
        <button type="button" (click)="deleteProduct(product.id!)">Delete</button>
        <button type="button" (click)="editProduct(product)">Edit</button>
      </div>
    </li>
  }
</ul>

