<div class="orders-grid">
  <mat-card class="buy-card side-panel">
    <mat-card-header>
      <mat-card-title>Buy Orders</mat-card-title>
    </mat-card-header>
    <mat-card-content class="order-list-container">
      <div class="list-header">
        <span class="volume-col">Total</span>
        <span class="price-col">Price</span>
      </div>

      @for (order of buyOrders(); track order.orderId) {
      <div class="order-item buy-item">
        <span class="volume-col font-mono">{{ order.volumeTotal | number:'1.2-2' }}</span>
        <span class="price-col font-mono">
          {{ order.price | number:priceFormat() }}
        </span>
      </div>
      }
      @empty {
      <div class="no-orders">No BUY orders to display.</div>
      }
    </mat-card-content>
  </mat-card>

  <mat-card class="sell-card side-panel">
    <mat-card-header>
      <mat-card-title>Sell Orders</mat-card-title>
    </mat-card-header>
    <mat-card-content class="order-list-container">
      <div class="list-header">
        <span class="price-col">Price</span>
        <span class="volume-col">Total</span>
      </div>
      @for (order of sellOrders(); track order.orderId) {
      <div class="order-item sell-item">
        <span class="price-col font-mono">
          {{ order.price | number:priceFormat() }}
        </span>
        <span class="volume-col font-mono">{{ order.volumeTotal | number:'1.2-2' }}</span>
      </div>
      }
      @empty {
      <div class="no-orders">No SELL orders to display.</div>
      }
    </mat-card-content>
  </mat-card>
</div>
