/* =========================================================
   Dialog container
   ========================================================= */
:host ::ng-deep .mat-mdc-dialog-container {
  border-radius: 1.25rem;
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.18);
}

/* =========================================================
   Title
   ========================================================= */
h2[mat-dialog-title] {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-text);
}

/* =========================================================
   Content
   ========================================================= */
mat-dialog-content {
  padding-top: 0.25rem;
  padding-bottom: 1.5rem;
  //color: var(--color-text);
}

mat-dialog-content p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--color-text);
}

/* =========================================================
   Actions
   ========================================================= */
mat-dialog-actions {
  padding-top: 1rem;
  border-top: 1px solid var(--color-divider);
  gap: 0.75rem;
}

/* Cancel button */
mat-dialog-actions button[mat-button] {
  color: var(--color-text);
  background-color: var(--color-surface)
}

/* Confirm button */
mat-dialog-actions button[mat-raised-button] {
  min-width: 100px;
  border-radius: 0.75rem;
  font-weight: 600;
  background-color: var(--color-surface);
  color: var(--color-danger)
}

/* Hover polish */
mat-dialog-actions button:hover {
  transform: translateY(-1px);
  transition: transform 120ms ease;
}

/* =========================================================
   Focus / accessibility
   ========================================================= */
button:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

:host ::ng-deep .dialog-danger h2[mat-dialog-title] {
  color: var(--color-danger);
}

:host ::ng-deep .dialog-danger
button[mat-raised-button] {
  background: var(--color-danger);
}
