<mat-card class="who-card">

  <mat-card-header>
    <mat-card-title class="who-title">
      {{ 'WHO_WE_ARE.TITLE' | translate }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="who-content">

    <div class="who-banner">
      <img src="assets/who-we-are.png" alt="Who we are banner" />
    </div>

    <p class="who-paragraph">
      {{ 'WHO_WE_ARE.MISSION' | translate }}
    </p>

    <p class="who-paragraph">
      {{ 'WHO_WE_ARE.SYSTEM' | translate }}
    </p>

    <p class="who-paragraph">
      {{ 'WHO_WE_ARE.MARKET' | translate }}
    </p>

    <p class="who-paragraph highlight">
      {{ 'WHO_WE_ARE.GOAL' | translate }}
    </p>

    <p class="who-paragraph highlight">
      {{ 'WHO_WE_ARE.DREAM' | translate }}
    </p>

    <p class="who-paragraph">
      {{ 'WHO_WE_ARE.LEGAL_ISSUES' | translate }}
    </p>

    <p class="who-paragraph">
      {{ 'WHO_WE_ARE.NON_PROFIT_SUSTAINABILITY' | translate }}
    </p>

    <p class="who-paragraph">
      {{ 'WHO_WE_ARE.CONTACT' | translate }} <a href="mailto:cuplarevolution@gmail.com">cuplarevolution@gmail.com</a>
    </p>

</mat-card-content>